@import "../node_modules/~bootstrap/scss/bootstrap";
@import "./custom";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 4rem auto;
    @media (min-width: 60rem) {
        flex-direction: row;
    }
    
    .card {
        display: flex;
        align-self: center;

        width: 60%;
      
      border: 1px solid green;
      margin: 3%;
      @media (min-width: 40rem) {
        width: 60%;

      }
      @media (min-width: 45rem) {
        width: 60%;
    }
    @media (min-width: 50rem) {
        width: 60%;
        height:12rem;

      }
      @media (min-width: 60rem) {
        width: 60%;
        height:15rem;

      }

      .name {
        display: flex;
        justify-content: center;
        align-self: center;
        color: rgb(168, 113, 10);
        text-align: center;

        @media (min-width: 40rem) {
          font-size: 1.8rem;
        }
        @media (min-width: 45rem) {
          font-size: 1.6rem;
        }
        @media (min-width: 50rem) {
          font-size: 2rem;
        }
      }
      .bio {
        display: flex;
        justify-content: center;
        align-self: center;
        color: rgb(207, 207, 173);
        text-align: center;

      }

      @media (min-width: 40rem) {
        font-size: 1.3rem;
      }
      @media (min-width: 45rem) {
        font-size: 1.4rem;
      }
      @media (min-width: 50rem) {
        font-size: 1.6rem;
      }
      button {
        display: flex;
        background-color: green;
        color: rgb(207, 207, 173);
        justify-content: center;
        align-self: center;
        margin: 0 auto;
      }
    }
  }
}
