@import "../node_modules/~bootstrap/scss/bootstrap";
@import "./custom";

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        @media (min-width: 80rem){
            flex-direction: row;
        }
        
        .card {
            display: flex;
            align-self: center;
            width: 20rem;
            height: 10rem;
            border:  1px solid green;
            margin: 2rem;
            @media (min-width: 50rem){
                width: 20rem;
                height: 11rem;
                font-size: 1.3rem;
            }
            @media (min-width: 55rem){
                width: 23rem;
                height: 13rem;
                font-size: 1.5rem;

            }
            @media (min-width: 60rem){
                width: 25rem;
                font-size: 1.6rem;

            }

            .title{
                display: flex;
                justify-content: center;
                align-self: center;
            }

            button{
                display: flex;
                background-color: green;
                justify-content: center;
                align-self: center;
                margin: 0 auto;
            }

        }
    }

    
    

}